:root {
  --main-color1: #171717;
  --main-color2: #444444;
  --main-color3: #da0037;
  --main-color4: #ededed;
}
.app {
  flex: 1;
  width: "100%";
  height: 100vh;
  padding: 20px;
  background-color: var(--main-color1);
}

.header {
  color: var(--main-color4);
  font-size: xx-large;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.5px;
}

.alphabets_container {
  height: auto;
  font-size: x-large;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--main-color2);
  margin-top: 12px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 8px;
  text-align: center;
  background-color: var(--main-color4);
}
.alphabets_item {
  margin: 12px;
  /* background-color: chocolate; */
}
.alphabets_item:hover {
  color: var(--main-color3);
}

.item_container {
  margin-top: 4px;
  margin-bottom: 4px;
}
.item_title {
  color: var(--main-color4);
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.item_desc {
  color: var(--main-color4);
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: auto;
  margin-bottom: 4px;
}
