:root {
  --main-color1: #171717;
  --main-color2: #444444;
  --main-color3: #da0037;
  --main-color4: #ededed;
}
.app {
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color1);
}

.header {
  color: var(--main-color4);
  font-size: xx-large;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  letter-spacing: 0.5px;
}
.item_container {
  margin-top: 4px;
  margin-bottom: 4px;
}
.item_title {
  color: var(--main-color4);
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.item_desc {
  color: var(--main-color3);
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: auto;
  margin-bottom: 4px;
}
